{:kotoba.app/latest "k51qzi5uqu5dlirtpepmh3kwmewylwjzcc5v8pcranl683f4sswbqx22ish9ub", :kotoba.app/site-cid "bafybeifs3oyvrxrvh5es3gwpawh5vmhuds76wr5mexmvpvxa3fps4lxuyi", :kotoba.app/id "cloud.itonami.managon", :kotoba.app/kind :document, :kotoba.app/embed-url "ipns://k51qzi5uqu5dlirtpepmh3kwmewylwjzcc5v8pcranl683f4sswbqx22ish9ub", :published {:own-nodes {:cid "bafybeifs3oyvrxrvh5es3gwpawh5vmhuds76wr5mexmvpvxa3fps4lxuyi", :ipns "k51qzi5uqu5dlirtpepmh3kwmewylwjzcc5v8pcranl683f4sswbqx22ish9ub", :nodes ["gad" "xavier" "jacob"], :at "2026-10-09T03:32:00Z"}}}
